<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="JustBuiltMSBuildCache" value="%LocalPackageDir%" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="msbuildcache">
      <package pattern="*" />
    </packageSource>
    <packageSource key="JustBuiltMSBuildCache">
      <package pattern="Microsoft.MSBuildCache.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
